<%- include head %>
<section class="slider">
	<div> <a href="" style="background-image: url(/static/img/slide_1.jpg)"></a> </div>
	<div> <a href="" style="background-image: url(/static/img/slide_2.jpg)"></a> </div>
	<div> <a href="" style="background-image: url(/static/img/slide_3.jpg)"></a> </div>
</section>

<section class="user">
	<div class="hd" id="section-clients">
		<a href="#" class="toggle hide-pc">客户</a>
		<i class="plus icon hide-pc"></i>
		<i class="minus icon hide-pc"></i>
		<h2 class="ui center aligned header hide-hd">客户</h2>
	</div>
	<div class="ui center aligned grid container">
		<div class="computer only row">
			<div class="column"></div>
		</div>
		<% for (i of new Array(14)) { %>
			<div class="three wide tablet two wide computer column">
				<img class="ui avatar image" src="/static/img/logo.png">
			</div>
		<% } %>
	</div>
</section>

<section class="services">
	<div class="hd" id="section-clients">
		<a href="#" class="toggle hide-pc">服务</a>
		<i class="plus icon hide-pc"></i>
		<i class="minus plus icon hide-pc"></i>
		<h2 class="ui center aligned header hide-hd">服务</h2>
	</div>
	<div class="ui center aligned grid container very relaxed">
		<% for (i of new Array(5)) { %>
			<div class="five wide tablet three wide computer column">
				<img class="ui image" src="/static/img/logo.png">
			</div>
		<% } %>
	</div>
</section>

<section class="user">
	<div class="hd" id="section-clients">
		<a href="#" class="toggle hide-pc">伙伴</a>
		<i class="plus icon hide-pc"></i>
		<i class="minus plus icon hide-pc"></i>
		<h2 class="ui center aligned header hide-hd">伙伴</h2>
	</div>
	<div class="ui center aligned grid container">
		<% for (i of new Array(14)) { %>
			<div class="three wide tablet two wide computer column">
				<img class="ui avatar image" src="/static/img/logo.png">
			</div>
		<% } %>
	</div>
</section>

<%- include foot %>