<%- include head %>
<section class="">
    <div id="dplayer" class="dplayer"></div>
    <div id="player" class="aplayer"></div>
</section>

<a href="search" class="ui left labeled icon basic button">
    <i class="left arrow icon"></i>
    返回
</a>
<%- include foot %>