<%- include head %>
<section class="">
	<form class="ui centered grid form" action="">
		<div class="ui search six wide tablet eight wide computer aligned column">
			<div class="ui icon input">
				<input class="prompt" v-model='key' type="text" @input='search | debounce 300'  placeholder="搜索音乐">
				<i class="search icon"></i>
			</div>
		</div>
	</form>
	
	<div class="" v-show='result'>
		<div class="ui top attached tabular menu">
			<a class="item active" data-tab="first">歌曲</a>
            <a class="item" data-tab="second">专辑</a>
			<a class="item" data-tab="third">歌单</a>
            <a class="item" data-tab="five">电台</a>
            <a class="item" data-tab="four">MV</a>
		</div>
		<div class="ui bottom attached tab segment active" data-tab="first">
			<table v-if='result && result.songs' class="ui striped table unstackable">
				<thead>
					<tr>
						<th>Song</th>
						<th>Album</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for='song of result.songs'>
						<td><a href="/play?type=song&id={{song.id}}">{{song.name}} - {{song.artists[0].name}}</a></td>
						<td><a href="/play?type=album&id={{song.album.id}}">《{{song.album.name}}》</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="ui bottom attached tab segment" data-tab="second">
			<table v-if='result && result.albums' class="ui striped table unstackable">
				<thead>
					<tr>
						<th>Album</th>
						<th>Artist</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for='album of result.albums'>
                        <td><a href="/play?type=album&id={{album.id}}">
                                <img class="ui middle aligned mini image" :src="album.picUrl + '?param=70y70'" alt="">
                                《{{album.name}}》
                        </a></td>
						<td><a href="/play?type=song&id={{album.id}}">{{album.artist.name}}</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="ui bottom attached tab segment" data-tab="third">
			<table v-if='result && result.playlists' class="ui striped table unstackable">
				<thead>
					<tr>
						<th>Playlist</th>
						<th>By</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for='playlist of result.playlists'>
                        <td><a href="/play?type=playlist&id={{playlist.id}}">
                                <img class="ui middle aligned mini image" :src="playlist.coverImgUrl + '?param=70y70'" alt="">
                                《{{playlist.name}}》
                        </a></td>
						<td><a href="/play?type=song&id={{playlist.creator.userId}}">{{playlist.creator.nickname}}</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="ui bottom attached tab segment" data-tab="four">
			<table v-if='result && result.mvs' class="ui striped table unstackable">
				<thead>
					<tr>
						<th>MV</th>
						<th>Artist</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for='mv of result.mvs'>
						<td><a href="/play?type=mv&id={{mv.id}}">《{{mv.name}}》</a></td>
						<td><a href="/play?type=song&id={{mv.artistId}}">{{mv.artistName}}</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="ui bottom attached tab segment" data-tab="five">
			<table v-if='result && result.radios' class="ui striped table unstackable">
				<thead>
					<tr>
						<th>Radio</th>
						<th>Artist</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for='radio of result.radios'>
						<td><a href="/play?type=radio&id={{radio.id}}">《{{radio.name}}》</a></td>
						<td><a href="/play?type=song&id={{radio.dj.userId}}">{{radio.dj.nickname}}</a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</section>

<%- include foot %>